@model ITIManagement.BLL.Pagination.PageResult<ITIManagement.BLL.ViewModels.SessionVM>
@{
    ViewData["Title"] = "Sessions";
}


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}


<h2>Sessions</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">+ Add New Session</a>
</p>

<form method="get" asp-action="Index" class="mb-2">
    <input type="text" name="search" class="form-control" placeholder="Search by Course Name" style="width:300px; display:inline-block;" />
    <button type="submit" class="btn btn-outline-primary">Search</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Course</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.CourseName</td>
                <td>@item.StartDate.ToShortDateString()</td>
                <td>@item.EndDate.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm">Edit</a>

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>






                </td>
            </tr>
        }
    </tbody>
</table>
<nav>
    <ul class="pagination">
        @if (Model.HasPrevious)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.Page - 1)">Previous</a>
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.Page ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
            </li>
        }
        @if (Model.HasNext)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.Page + 1)">Next</a>
            </li>
        }
    </ul>

    <p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home</a>
    </p>

</nav>